@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welcome</h1>
    
    
    <summary>
        Password:
        <details>
            <p>@ViewBag.Password</p>
            <p>@ViewBag.MySecret</p>    
        </details>
    </summary>

    <ul>
        <li>one</li>
        <li>two</li>
    </ul>


</div>
